@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap');
@import "tailwindcss";

body {
  font-family: 'Montserrat', sans-serif;
}

.source-sans-text {
  font-family: 'Source Sans Pro', sans-serif;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    transition: background-color 9999s ease-out;
    -webkit-transition: background-color 9999s ease-out;
    -webkit-text-fill-color: #fff; /* Use your desired text color here */
    background-color: transparent !important;
}