@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

.source-sans-text {
  font-family: 'Source Sans Pro', sans-serif;
}
